<div class="stage">

<div id="header">
	<div id="logo-container">
		<a href="\"><img id="logo" src="img/logo_green03.png"></a>
	</div>
	<!-- <div id="logo-title">pendekar</div> -->
</div>

<div class="welcome-container">
	<div id="welcome-big">WELCOME TO PENDEKAR</div>
	<div id="welcome-sub">Make your link pendek now!</div>
</div>


<div id="form_container">
	<form action="/urls" method="post">
		<input id="input_url" type="text" name="url[long]" placeholder="Enter your URL">
		<button type="submit" title="Click this button to submit">pendek-ar~!</button>
	</form>
</div>

<!-- <div id="help_msg">
	<div id="help_toggle">Toggle</div>
	<p id="help_toggle_msg" style="display: none">enter your link </p>
</div> -->

<div id="result">
	<% if @new_url != nil %>
			<p> <%= "#{@new_url.long} has been pendeked to:" %> </p>
			<p><a href="<%=@new_url.short%>">localhost:9393/<%= @new_url.short%></a></p>
	<%	end %>
	<div id="result_ajax" class="doubleclick">
		<div id="result_subtext"></div>
		<div id="result_short"></div>
	</div>
</div>

<div id="alert">
	<% if @alert_msg != "" %>
			<p> <%= "#{@alert_msg}" %> </p>
	<% end %>
	<div id="alert_ajax" class="clickable"></div>
</div>


<div id="table_container">
	<table id="table_url">
		<tr>
			<th class="col_link">Link</th>
			<th class="col_pendekar">Pendekar Link</th>
			<th class="col_click">Click(s)</th>
		</tr>
	<% @urls.each do |url| %>
		<tr class="clickable">
			<td> <%= url.long %></td>
			<td> <a href="<%=url.short%>"> <%= url.short%></a></td>
			<td> <%=url.click_count %></td>
		</tr>
	<%end %>
	</table>

</div> <!--end of table container-->

<div id="footer_container">

	<div id="footer_logo">
		<a href="\"><img id="logo_footer" src="img/logo_green03.png"></a>
	</div>
<!-- 
	<div id="footer_social_logo">
		<ul class="footer-social-link">
			<li class="footer-social-link footer-social-link-facebook">
				<a href="http://www.facebook.com" target="_blank"></a>
			</li>
		</ul>
	</div>

 -->	
 <div id="footer_sub">
		<p> © 2016 pendekar™  Handmade in CA </p>
	</div>
</div>

</div> <!-- end of div class="stage" -->

<div id="footer_container_out">

</div>